 
// default

button{
  background-color: #3361FF;
  padding: 15px 35px;
  border-radius: 30px;
  height: 60px;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid   #3361FF;
  font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 900;
}
// colored

.btn-primary{
  background-color: #3361FF;
  border: 2px solid   #3361FF;

}
.btn-secondary{
  background-color: #ffffff;
  border: 2px solid   #ffffff;
  color: #6B7A99;
}
.btn-dark{
  background-color: #202B40;
  border: 2px solid   #202B40;
  color: #7D8FB3;
}
// radius

.rad-30{
  border-radius: 30px;
}
.rad-5{
  border-radius: 5px;
}

// size

.btn-lg{
  height: 60px;
  padding: 15px 35px;
  font-size: 14px;
}
.btn-md{
  height: 50px;
  padding: 15px 30px;
  font-size: 12px;
}
.btn-sm{
  height: 40px;
  padding: 10px 20px;
  font-size: 12px;
}
.btn-xs{
  height: 30px;
  padding: 5px 15px;
  font-size: 10px;
}


.dropdown {
   padding: 0px;
  position: relative;
  display: inline-block;
}

.dropdown-button {
 
  position: relative;
}

/* Add this CSS to your stylesheet */

.arrow {
  margin-left: 5px; /* Add some spacing between text and arrow */
  font-size: 16px; /* Set the font size to adjust the arrow size */
  display: inline-block;
  transition: transform 0.3s ease-in-out; /* Add a transition for smooth rotation */
}

.arrow.up {
  transform: rotate(180deg); /* Rotate the arrow 180 degrees for the "up" state */
}

.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 5px;
  text-align: center;
  text-decoration: none;
  width: 90%;
  
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a box shadow for a dropdown effect */
  z-index: 1; /* Ensure it appears above other content */
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu li:hover {
  background-color: #f5f5f5; /* Highlight on hover */
}