<!-- default -->
<div>
  <button>Button</button>
</div>

<!-- colored button -->
<div>
  <button class="btn-primary">Button</button>
  <button class="btn-secondary">Button</button>
  <button class="btn-dark">Button</button>
</div>

<!-- radius button -->
<div>

<button class="rad-30">Button</button>
<button class="rad-5">Button</button>
</div>
<!-- button size -->
<div>
<button class="btn-lg">Button</button>
<button class="btn-md">Button</button>
<button class="btn-sm">Button</button>
<button class="btn-xs">Button</button>
</div>

<div class="dropdown">
  <button class="dropdown-button" (click)="toggleDropdown()">
    Dropdown
    <span class="arrow" [ngClass]="{ 'up': isDropdownOpen, 'down': !isDropdownOpen }">&#9660;</span>
  </button>
  <ul class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</div>





