<!-- default -->
<div>
  <button>Button</button>
</div>

<!-- colored button -->
<div>
  <button class="btn-primary">Button</button>
  <button class="btn-secondary">Button</button>
  <button class="btn-dark">Button</button>
</div>

<!-- radius button -->
<div>

<button class="rad-30">Button</button>
<button class="rad-5">Button</button>
</div>
<!-- button size -->
<div>
<button class="btn-lg">Button</button>
<button class="btn-md">Button</button>
<button class="btn-sm">Button</button>
<button class="btn-xs">Button</button>
</div>

<!-- button with after  -->
<button class="btn-after">Button <span></span></button>

<!-- button with before  -->


<!-- button with after/before  -->
