 <div class="attachment">
  <div class="head">
    <div class="heading"><h3>Attachment</h3></div>
    <div class="actions">
      <img src="../../../../assets/images/apps.png" alt="apps">
      <img src="../../../../assets/images/view_headline.png" alt="view headline">
      <button class="btn-secondary rad-5 btn-sm"><img src="../../../../assets/images/download.png" alt="download">Download All</button>
    </div>

  </div>
  <div class="body">
    <div class="container"><img src="../../../../assets/images/att1.png" alt="attachment"><h4 class="name">Frame6.jpg</h4><p class="date">Sep 7 at 2:42 PM</p></div>
    <div class="container"><img src="../../../../assets/images/att2.png" alt="attachment"><h4 class="name">Change.pdf</h4><p class="date">Sep 7 at 2:42 PM</p></div>
    <div class="container"><img src="../../../../assets/images/att3.png" alt="attachment"><h4 class="name">ReadMe.doc</h4><p class="date">Sep 7 at 2:42 PM</p></div>
    <div class="container"><img src="../../../../assets/images/att4.png" alt="attachment"><h4 class="name">ReadMe.doc</h4><p class="date">Sep 7 at 2:42 PM</p></div>
  </div>
 </div>
