<div class="add-task">
<div class="form">
    <label for="nameTask"> Name Task</label>
    <input type="text" name="nameTask" placeholder="Name Task" class="input-white p-lg" id="nameTask">
    <div>
        <label for="description" class="label">Description Task</label>
        <div name="description" id="description" class="text-area text-area-white radius-md">
          Text Area
          <img src="../../../../assets/images/textarea.svg" alt="text area prompt" class="img" />
        </div>
    </div>
    <label for="subTask" class="sub-task">Sub Tasks ToDo</label>
    <div class="sub-task-type">
        <div class="dot">
            <svg width="30" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="11" y="12" width="12" height="12" rx="6.5" fill="#C3CAD9"/>
                </svg>
                
        </div>
        <div class="text">
            <p>Type Sub Task</p>
        </div>
        <div class="img-group">
            <img src="../../../../assets/images/flag.png" alt="plus" class="img">
            <img src="../../../../assets/images/attachment.png" alt="minus" class="img">
            <img src="../../../../assets/images/access_time.png" alt="check" class="img">
            <img src="../../../../assets/images/avatar-img.png" alt="close" class="img">
            <button class="rad-5 btn-sm btn-primary">save</button>
        </div>
    </div>
    <div>
        <button class="btn-primary rad-5 btn-xs">Add Task</button>
    </div>
</div>
</div>
