
.add-task{
    padding: 30px;
    border: 2px solid  #EDEFF2;
    background-color: #F7F8FA;
    width: 495px;
    .form{
        display: flex;
        flex-direction: column;
        label{
            font-size: 12px;
            display: block;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 10px;
            padding-left: 25px;
            color: #4D5E80;
        }
        .input-white{
            width: 100%;
            margin-bottom:30px;
        }
        .text-area{
            width: 100%;
            margin-bottom: 40px;
        }
        .sub-task{
            margin-bottom: 30px;
        }
        .sub-task-type{
            width: 100%;
            padding: 10px;
            background-color: #fff;
            display: flex;
            margin-bottom: 20px;
            
            align-items: center;
            .dot{
                width: 40px;
                padding-right: 10px;
                border-right: 2px solid #6B7A99;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
            } 
            .text{
                padding: 10px;
                width: 250px;
                p{
                    color:  #6B7A99;                    
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                }
            }
            .img-group{
                display: flex;
                img{
                    padding: 0 5px;
                }
                button{
                    margin-left: 5px;
                }
            }
        }
    }
}

 