
<div class="flex flex-col justify left-menu">
  <div  class="flex flex-col">
    <div class="left-menu-img"><img src="../../../../assets/images/menu/Button.png" alt="" width="100%" ></div>
     <div  class="left-menu-img"> <img src="../../../../assets/images/menu/Button (1).png" alt="" width="100%"></div>
      <div class="left-menu-img"><img src="../../../../assets/images/menu/Button (2).png" alt="" width="100%" ></div>
     <div class="left-menu-img"> <img src="../../../../assets/images/menu/Button (3).png" alt="" width="100%"></div>
      <div class="left-menu-img"><img src="../../../../assets/images/menu/Button (4).png" alt="" width="100%"></div>
     <div class="left-menu-img"> <img src="../../../../assets/images/menu/Button (5).png" alt="" width="100%" ></div>
  </div>
  <div  class="flex flex-col">
      <div  class="flex flex-col">
         <div class="left-menu-img m-t-b"> <img src="../../../../assets/images/avatars-round/avatar1.png" alt="" width="100%" ></div>
          <div  class="left-menu-img m-t-b"><img src="../../../../assets/images/avatars-round/avatar2.png" alt="" width="100%"></div>
          <div class="left-menu-img m-t-b"><img src="../../../../assets/images/avatars-round/avatar3.png" alt="" width="100%" ></div>

      </div>
      <div>
          <div class="left-menu-img m-t-b"><img src="../../../../assets/images/avatars-round/add.png" alt="" width="100%" ></div>
      </div>
  </div>
</div>
