<div class="dashborad-header">

    <div class="logo flex right-alignment">
        <div class="">
            <img src="../../../../assets/images/button4.png" alt="" class="toggle">
        </div>
        <img src="../../../../assets/images/logo.png" alt="">
    </div>
    <div class="d-links">
        <ul>
            <li class="link"><a  class="p">Dashboard</a></li>
            <li class="link"><a  class="p">About Us</a></li>
            <li class="link"><a  class="p">News</a></li>
            <li class="link"><a  class="p">User Policy</a></li>
            <li class="link"><a  class="p">Contacts</a></li>
            <li class="link"><img src="../../../../assets/images/dot3.png" alt=""></li>
        </ul>
    </div>

    <div class="flex search-bar">
        <a type="submit" class="icon position-1 "><img src="../../../../assets/images/search.png" alt="" class="search"></a>
        <input type="text" placeholder="Search Transactions and Documents" name="search" class="search-box">
       <a   class="icon position-2"> <img src="../../../../assets/images/drop.png" alt="" class="drop" ></a>

    </div>

    <div class="flex right-alignment">
        <div class="flex">
            <img src="../../../../assets/images/icon.png" alt="" class="profile-pic">
            <p class="user-name p">Clayton Santos</p>
        </div>
        <div class="flex">
            <img src="../../../../assets/images/notification.png" alt="" class="bell">
        <img src="../../../../assets/images/button3.png" alt="" class="cut">
        </div>
    </div>
</div>
