<div class="dashborad-header">
        
    <div class="logo flex right-alignment">
        <div class="">
            <img src="./img/toggle.svg" alt="" class="toggle">
        </div>
        <img src="./img/Logo.png" alt="">
    </div>
    <div class="d-links">
        <ul>
            <li class="link"><a href="" class="p">Dashboard</a></li>
            <li class="link"><a href="" class="p">About Us</a></li>
            <li class="link"><a href="" class="p">News</a></li>
            <li class="link"><a href="" class="p">User Policy</a></li>
            <li class="link"><a href="" class="p">Contacts</a></li>
            <li class="link"><img src="./img/dots.svg" alt=""></li>
        </ul>
    </div>

    <div class="flex search-bar">
        <a type="submit" class="icon position-1 "><img src="./img/search.svg" alt="" class="search"></a>
        <input type="text" placeholder="Search Transactions and Documents" name="search" class="search-box">
       <a href="" class="icon position-2"> <img src="./img/drop.svg" alt="" class="drop" ></a>

    </div>

    <div class="flex right-alignment">
        <div class="flex">
            <img src="./img/Icon.svg" alt="" class="profile-pic">
            <p class="user-name p">Clayton Santos</p>
        </div>
        <div class="flex">
            <img src="./img/bell.svg" alt="" class="bell">
        <img src="./img/cut.svg" alt="" class="cut">
        </div>
    </div>
</div>