.dashborad-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEFF2;
    padding: 1rem 3rem;

}

.d-links ul{
    list-style: none;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
.p{
    color: #7D8FB3;
}
.link, .user-name{
    font-size: 12px;
    margin: 0 10px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    position: absolute;

    background-color: transparent;
}
.search{

  width: 30px;
  height: 30px;

}
.drop{

  width: 30px;
  height: 30px;

}
.search-bar{
    position: relative;
    width: 350px;
}
.search-box{
    outline: none;
    border: none;
    font-size: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    color: #ADB8CC;
    padding:10px 3rem;
}

.position-1{
  left: 12px;
  top: 2px;
}
.position-2{
  right: 20px;
  top: 2px;
}
.right-alignment{
    gap: 1rem;
}

.profile-pic{
    width: 17px;
}
.bell , .cut ,.toggle {
    width: 45px;
}
