<label class="switch">
    <input type="checkbox" />
    <span class="slider slider3"></span>
  </label>
  <label class="switch">
    <input type="checkbox" />
    <span class="slider slider3" id="round"></span>
  </label>
  <br />
  <label class="switch">
    <input type="checkbox" />
    <span class="slider1 slider white"></span>
  </label>
  <label class="switch">
    <input type="checkbox" />
    <span class="slider1 slider white" id="round"></span>
  </label>
  <br />

  <label class="switch">
    <input type="checkbox" />
    <span class="slider slider2 blue"></span>
  </label>
  <label class="switch">
    <input type="checkbox" />
    <span class="slider slider2 blue" id="round"></span>
  </label>