
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 4rem;
    font-family: sans-serif;
}
.list{
    display: flex;
    gap: 2rem;

}
.list li{
    list-style: none;
    font-weight: 700;
    color: #3D474D;
    padding: 10px;
    font-size: 16px;

    border-bottom: 3px solid transparent;
   
}
.list li:hover{
    color: #000;
    border-bottom: 3px solid #F4711E;
}
.right-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.language{
    display: flex;
    align-items: center;
}
.language select{
    border: none;
    color: #3D474D;
    font-size: 16px;

}
.line{
    width: 2px;
    height:20px;
    background-color: #3D474D;
    margin:0 10px ;
}
.login{
    color: #3D474D;
    font-size: 16px;
    text-decoration: none;
}
.Demo{
    padding:10px 15px ;
    background-color: #fff;
    border: 1px solid #FF9002;
    border-radius: 5px;
}
.Demo a{
    color: #3D474D;
    font-size: 16px;
    text-decoration: none;
    background-color: #fff;
}
.Demo:focus{
    outline: 1px solid #FF9002;
}