<div class="header">
    <div>
        <img src="../../../../assets/images/logo.png" alt="">
    </div>
    <ul class="list">
        <li>Home</li>
        <li>Careers</li>
        <li>Pricing</li>
        <li>Features</li>
    </ul>
    <div>
        <div class="right-btn">
           <div  class="language">
            <img src="../../../../assets/images/language.png" alt="">
            <select name="language" id="language">
                <option value="volvo">English</option>
                <option value="saab">Urdu</option>
                <option value="opel">Math</option>
                <option value="audi">Audi</option>
              </select>
           </div>
           <span class="line"></span>
             <a href="/" class="login">Log In</a>

            <button class="Demo"> <a href="">Get demo</a></button>
        </div>

    </div>
</div>