<div class="container">
    <div name="" id="" class="text-area text-area-white radius-lg">
      Text Area
      <img src="./image/Icon.svg" alt="" class="img" />
    </div>

    <div name="" id="" class="text-area text-area-white radius-md">
      Text Area
      <img src="./image/Icon.svg" alt="" class="img" />
    </div>
  </div>

  <div class="container">
    <div>
      <label for="" class="label">Label</label>
      <div name="" id="" class="text-area text-area-white radius-lg">
        Text Area
        <img src="./image/Icon.svg" alt="" class="img" />
      </div>
    </div>

    <div>
      <label for="" class="label">Label</label>
      <div name="" id="" class="text-area text-area-white radius-md">
        Text Area
        <img src="./image/Icon.svg" alt="" class="img" />
      </div>
    </div>
  </div>